:root{
/* ### Primary */

--soft-red: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);

/* ### Neutral */

--dark-brown: hsl(25, 47%, 15%);
--medium-brown: hsl(28, 10%, 53%;);
--cream: hsl(27, 66%, 92%);
--very-pale-orange: hsl(33, 100%, 98%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);
}

.container{
     align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 199vh;
    height: 100vh;
}

.cx1{
    background-color: var(--soft-red);
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 275px;
    display: flex;
    width: 500px;
    height: 120px;
    border-radius: 10px;
    
}
.text{
    flex-direction: row;
    display: flex;
    gap: 10px;
    
}
.titulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grafico{
    padding-top: 20px;
    padding-left: 25px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: start;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: white;
}
.gasto{
    display: flex;
    text-align: left;
}
.grafico2{
    display: flex;   
    transform: scale(1, -1);
    height: 40vh;
}
.coluna1{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 5px;
    background-color: var(--soft-red);
    width: 50px;
    height: 50px;
}
.coluna2{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--soft-red);
    width: 50px;
    height: 100px;
}
.coluna3{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--cyan);
    width: 50px;
    height: 150px;
}
.coluna4{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--soft-red);
    width: 50px;
    height: 90px;
}
.coluna5{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--soft-red);
    width: 50px;
    height: 60px;
}
.coluna6{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--soft-red);
    width: 50px;
    height: 130px;
}
.coluna7{
    border-radius: 5px;
    margin-top: 150px;
    margin-left: 10px;
    background-color: var(--soft-red);
    width: 50px;
    height: 65px;
}


